@model TreinoViewModel

<!-- Sidebar  -->
<partial name="_SideMenu" />

<!-- Page Content  -->
<div id="content">

    <partial name="_Header" />

    <div class="main-content">
    <h1>Adicionar Treino</h1>   
    <hr />
    <div class="row">
            <div class="col-lg-5 col-md-12">
                <div class="card" style="min-height: 485px">
                    <div class="card-header card-header-text">
                        <h4 class="card-title">Atividades</h4>
                           
                        <form asp-action="Create">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <label asp-for="@Model.Treino.ExercicioId" class="control-label"></label>
                                    <select asp-for="@Model.Treino.ExercicioId" id="ExercicioId" class="form-control" asp-items="ViewBag.Exercicios"></select>
                                </div>

                             <div class="row">                   
                                 <div class="form-group">
                                       <label asp-for="@Model.Treino.RepetitionNumber" class="control-label"></label>
                                       <input asp-for="@Model.Treino.RepetitionNumber" id="nrepeticoes" class="form-control" />
                                       <span asp-validation-for="@Model.Treino.RepetitionNumber" class="text-danger"></span>
                                </div>
                   
                                    <div class="form-group">
                                        <label asp-for="@Model.Treino.Series" class="control-label"></label>
                                        <input asp-for="@Model.Treino.Series" id="series" class="form-control" />
                                        <span asp-validation-for="@Model.Treino.Series" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="row">

                                    <div class="form-group">
                                        <label asp-for="@Model.Treino.RestTime" class="control-label"></label>
                                        <input asp-for="@Model.Treino.RestTime" id="restTime" class="form-control" />
                                        <span asp-validation-for="@Model.Treino.RestTime" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                         <label asp-for="@Model.Treino.RestBetween" class="control-label"></label>
                                         <input asp-for="@Model.Treino.RestBetween" id="restBetween" class="form-control" />
                                         <span asp-validation-for="@Model.Treino.RestBetween" class="text-danger"></span>
                                    </div>
                                </div>

                                    <div class="form-group">
                                        <label asp-for="@Model.Treino.Distance" class="control-label"></label>
                                        <input asp-for="@Model.Treino.Distance" id="distance" class="form-control" />
                                        <span asp-validation-for="@Model.Treino.Distance" class="text-danger"></span>
                                    </div>

                                <div class="form-group">
                                     <label asp-for="@Model.Treino.Weight" class="control-label"></label>
                                     <input asp-for="@Model.Treino.Weight" id="weight" class="form-control" />
                                     <span asp-validation-for="@Model.Treino.Weight" class="text-danger"></span>
                                </div>
                                  <input type="hidden" value="@ViewBag.FichaId" id="FichaId" class="btn btn-primary" />
                     
                                <div class="form-group">
                                    <a role="button" id="addTreino" class="btn btn-primary">Adicionar</a>                       
                                </div>
                    </form>
                </div>
            </div>
        </div>
            <div class="col-lg-7 col-md-12">
                <div class="card" style="min-height: 485px">
                    <div class="card-header card-header-text">
                        <h4 class="card-title">Atividades</h4>
                    </div>
                    <div class="card-content">

                        @foreach(Treino treino in Model.TreinoList)
                        {                            
                         @treino.Exercicio.Name
                        <div class="row">
                           
                        </div>
                        }

                            <br />
                                <div class="treinos-card">
                                  
                                </div>
                                 

                               <a class="btn btn-success " id="enviarTreino" role="button">Finalizar</a>
                           
                        </div>

                    </div>
                </div>
            </div>
        </div>

   

@*<script src="~/js/Treinos.js"></script>*@
<script src="~/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript">
      
        document.getElementById("enviarTreino").addEventListener("click", enviar);
        document.getElementById("addTreino").addEventListener("click", adicionarLista);

        ListarTreino();

        function adicionarLista() {
            
            let nrepeticoes = document.getElementById("nrepeticoes").value;
            let series = document.getElementById("series").value;
            let restTime = document.getElementById("restTime").value;
            let restBetween = document.getElementById("restBetween").value;
            let distance = document.getElementById("distance").value;
            let weight = document.getElementById("weight").value;
            let ExercicioId = document.getElementById("ExercicioId").value;
            let FichaId = document.getElementById("FichaId").value;

            if(restTime === null || restTime === undefined)
                restTime=0;

            if (restBetween === null || restBetween === undefined)
                restBetween = 0;

            if (distance === null || distance === undefined)
                distance = 0;

            if (weight === null || weight === undefined){
                alert("");
                weight = 0;
            }

            if (nrepeticoes === null || nrepeticoes === undefined)
                nrepeticoes = 10;

            if (series === null || series === undefined)
                series = 10;

            let treino = {
                "repetitionNumber": nrepeticoes,
                "series": series,
                "restTime": restTime,
                "restBetween": restBetween,
                "distance": distance,
                "weight": weight,
                "exercicioId": ExercicioId,
                "fichaId": FichaId,
                "exercicio": null
            };
            let e = document.getElementById("ExercicioId");
            let nomeTreino = e.options[e.selectedIndex].text;

            let dataLocal = localStorage.getItem("TreinosLocal");
            let dataEx = localStorage.getItem("NomeExercicios");

            if (dataLocal == null || dataLocal == undefined) {
                localStorage.setItem("TreinosLocal", JSON.stringify([treino]))
                localStorage.setItem("NomeExercicios", JSON.stringify([nomeTreino]))

            } else {
                data = JSON.parse(dataLocal)
                dataEx = JSON.parse(dataEx)
                data.push(treino);

                dataEx.push(nomeTreino);
                localStorage.setItem("TreinosLocal", JSON.stringify(data))
                localStorage.setItem("NomeExercicios", JSON.stringify(dataEx))
            }

            ListarTreino();
        }


        function enviar() {
            let treinos = JSON.parse(localStorage.getItem("TreinosLocal"));
            console.log(treinos[0]);
            /*
            let treinos = [{
                "repetitionNumber": 3,
                "series": 3,
                "restTime": 1,
                "restBetween": 2,
                "distance": null,
                "weight": null,
                "exercicioId": 2,
                "exercicio": null,
                "FichaId": 1
            },
                {
                    "repetitionNumber": 335,
                    "series": 3,
                    "restTime": 1,
                    "restBetween": 2,
                    "distance": null,
                    "weight": null,
                    "exercicioId": 2,
                    "exercicio": null,
                    "FichaId": 1
                }];
                */
            fetch('/Treino/UpdateTreinos', {
                method: 'POST',
                headers: {
                    'Content-type': 'application/json',
                },
                body: JSON.stringify(treinos)
            }).then(function (response) {
                if (response.ok) {
                    alert("teste" + response);
                    return response.json();
                }
                return Promise.reject(response);
            }).then(data => {
                let dados = JSON.parse(data);
                console.log('Success:', dados);
                if (data) {
                    localStorage.removeItem("TreinosLocal")
                    localStorage.removeItem("TreinosLocal")
                    window.location.replace('http://localhost:5247/Admin/Cliente');
                }
            }).catch(function (error) {
                console.warn(error);
            });

        }

        function ListarTreino() {
            let place_treinos = '';
            let data = JSON.parse(localStorage.getItem("TreinosLocal"));
            let dataEx = JSON.parse(localStorage.getItem("NomeExercicios"));
            if (data !== null) {
                data.forEach((treino, index) => {
                    place_treinos += `
                    <div>
                        <h4><span>${dataEx[index]} </span></h4>
                        <h5><span>Repeticoes: ${treino.repetitionNumber} </span><span>Series: ${treino.series}</span> </h5>
                    </div>`
                });
            }

            document.querySelector('.treinos-card').innerHTML = place_treinos;
            place_treinos = ''
        }



  /*  $(function () {
        $('#enviarTeste').click(function() {
            var treino = { 'RepetitionNumber': 20,
                'Series':3,
                'RestTime':1,
                'RestBetween': 1,
                'Distance': 1,
                'Weight': 1,
                'ExercicioId': 1,

            }

            $.ajax({
                type: 'POST',
                dataType: 'application/json; charset=utf-8',
                data: JSON.stringify(treino), 
                url: "/Treino/teste",
                success: function(data)
                {
                    alert(data)
                },
                error: function(result){
                    alert("error somethign went wrong")
                }
            })
        })
    })*/
</script>
    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
