@model IEnumerable<StayFit.Models.Cliente>

    
<!-- Sidebar  -->
<partial name="_SideMenu" />



<!-- Page Content  -->
<div id="content">

    <partial name="_Header" />

    <div class="main-content">

        <div class="text-center">

            @if (@TempData["msgSuccess"] != null)
            {
                <div class="alert alert-success" role="alert">
                    <button type="button" class="btn btn-success btn-sm close-alert" arial-label="Close">X</button>
                    @TempData["msgSuccess"]
                </div>

            }
            @if (@TempData["msgError"] != null)
            {
                <div class="alert alert-danger" role="alert">
                    <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
                    @TempData["msgError"]
                </div>
            }

        </div>

        @foreach (var Cliente in Model)
        {

            <div class="cards-cli">
                <div class="card-cli">
                    <div class="card-info">
                        <div class="img-area">
                            <img src="/site-imagens/user.png" alt="@Cliente.Nome" />
                        </div>
                        <div class="card-body">
                            <div class="card-title-info">@Cliente.Nome</div>
                            <div class="card-body-info">
                                <div class="info"><span>Matricula:</span> @Cliente.Matricula</div>
                                <div class="info"><span>CPF:</span> @Cliente.CPF</div>
                            </div>
                        </div>
                    </div>

                    <div class="card-actions">
                        <a class="btn btn-success" asp-controller="Instrutor" asp-action="Avaliar" asp-route-cliente="@Cliente.ClienteId" role="button">Avaliacao</a>
                        <a class="btn btn-success" role="button">Editar Usuário</a>
                        <a class="btn btn-success" asp-controller="Ficha" asp-action="Create" asp-route-cliente="@Cliente.ClienteId" role="button">Ficha</a>
                    </div>
                </div>
            </div>

        }


