@model Treino

        <a asp-action="Detail" asp-controller="Exercicio"
           asp-route-ExercicioId="@Model.Exercicio.ExercicioId">
    <div class="row m-1">
        <div class="col-lg-0 col-md-0 col-sm-0">
                <img src="@Model.Exercicio.Photo" style="width:55px" alt="@Model.Exercicio.Name" />
                </div>
                        <div class="col-sm">
                              @Model.Exercicio.Name
                        </div>
                        <div class="col-sm">
                    @Model.RepetitionNumber
                        </div>
                <div class="col-sm">
                    @Model.Series
          </div>
    </div>
</a>
         


  
