@model FichaViewModel

<!-- Sidebar  -->
<partial name="_SideMenu" />



<!-- Page Content  -->
<div id="content">

    <partial name="_Header" />

    <div class="main-content">
        <h1>Ficha</h1>
        <h4>Novo conjunto de Atividades</h4>

        <hr />
        <div class="row">
            <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.Ficha.NomeAtividade" class="control-label"></label>
                        <input asp-for="@Model.Ficha.NomeAtividade" class="form-control" />
                        <span asp-validation-for="@Model.Ficha.NomeAtividade" class="text-danger"></span>
            </div>
            <div class="form-group">
                        <label asp-for="@Model.Ficha.DiaSemana" class="control-label"></label>
                        <select asp-for="@Model.Ficha.DiaSemana" class="form-control" asp-items="Html.GetEnumSelectList<DiaSemana>()"></select>
                        <span asp-validation-for="@Model.Ficha.DiaSemana" class="text-danger"></span>
            </div>
            <div class="form-group">
                        <label asp-for="@Model.Ficha.DataInicio" class="control-label"></label>
                        <input asp-for="@Model.Ficha.DataInicio" class="form-control" />
                        <span asp-validation-for="@Model.Ficha.DataInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                        <label asp-for="@Model.Ficha.DataFim" class="control-label"></label>
                        <input asp-for="@Model.Ficha.DataFim" class="form-control" />
                        <span asp-validation-for="@Model.Ficha.DataFim" class="text-danger"></span>
            </div>
              <div class="form-group">
                        <input type="hidden" asp-for="@Model.Ficha.ClienteId" value="@ViewBag.ClienteId" />
             </div>
            <div class="form-group">
             <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
            
        <div class="col-md-4">
               
                    @foreach(Ficha ficha in @Model.FichaList)
                    {
                    <a asp-controller="Treino" asp-action="Create" asp-route-fichaId="@ficha.FichaId"> <h3>@ficha.NomeAtividade</h3></a>
                    }
              
            </div>
</div>
</div>

 
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
