@model FichaViewModel

<!-- Sidebar  -->
<partial name="_SideMenu" />



<!-- Page Content  -->
<div id="content">

    <partial name="_Header" />

    <div class="main-content">
        <div class="row ">
            <div class="col-lg-12 col-md-12">
                <div class="card" style="min-height: 485px">
                    <div class="card-header card-header-text">
                        <h3 class="card-title">Ficha</h3>
                        <p class="category">
                            <hr />
                        </p>
                    </div>
                    <div class="card-content table-responsive">
                        
        <div class="row mb-2 mx-5 px-5">
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="~/site-imagens/blog-1.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Iniciante</h5>
                        <p class="card-text">Treino para quem está começando e ainda precisa se adaptar a uma nova rotina...</p>
                        <form asp-action="CadTreinosIniciante" method="post">
                          <input type="hidden" name="clienteId" value="@ViewBag.ClienteId" />
                          <button type="submit" class="btn btn-primary">Adicionar</button>
                       </form>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="~/site-imagens/carrousel1.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Intermediário</h5>
                              <p class="card-text">Treino para quem já é praticante de atividade física e quer melhorar a performace...</p>
                             <form asp-action="CadTreinosIniciante" method="post">
                                  <input type="hidden" name="clienteId" value="@ViewBag.ClienteId" />
                                   <button type="submit"  class="btn btn-primary">Adicionar</button>
                              </form>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="~/site-imagens/blog-2.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Avançado</h5>
                        <p class="card-text">Treino especializado</p>
                            <form asp-action="CadTreinosIniciante" method="post">
                              <input type="hidden" name="clienteId" value="@ViewBag.ClienteId" />
                                 <button type="submit" class="btn btn-primary">Adicionar</button>
                           </form>
                    </div>
                </div>
            </div>
        </div>

       <div class="row mb-2 mx-5 px-5">
            <div class="col-md-5">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.Ficha.NomeAtividade" class="control-label"></label>
                        <input asp-for="@Model.Ficha.NomeAtividade" class="form-control" />
                        <span asp-validation-for="@Model.Ficha.NomeAtividade" class="text-danger"></span>
            </div>
            <div class="form-group">
                        <label asp-for="@Model.Ficha.DiaSemana" class="control-label"></label>
                        <select asp-for="@Model.Ficha.DiaSemana" class="form-control" asp-items="Html.GetEnumSelectList<DiaSemana>()"></select>
                        <span asp-validation-for="@Model.Ficha.DiaSemana" class="text-danger"></span>
            </div>
            <div class="form-group">
                        <label asp-for="@Model.Ficha.DataInicio" class="control-label"></label>
                        <input asp-for="@Model.Ficha.DataInicio" class="form-control" />
                        <span asp-validation-for="@Model.Ficha.DataInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                        <label asp-for="@Model.Ficha.DataFim" class="control-label"></label>
                        <input asp-for="@Model.Ficha.DataFim" class="form-control" />
                        <span asp-validation-for="@Model.Ficha.DataFim" class="text-danger"></span>
            </div>
              <div class="form-group">
                        <input type="hidden" asp-for="@Model.Ficha.ClienteId" value="@ViewBag.ClienteId" />
             </div>
            <div class="form-group">
             <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
            
        <div class="col-md-5 ml-2">
               
                    @foreach(Ficha ficha in @Model.FichaList)
                    {
                    <a asp-controller="Treino" asp-action="Create" asp-route-fichaId="@ficha.FichaId"> <h3>@ficha.NomeAtividade</h3></a>
                    }
              
            </div>
        </div>
    </div>

       </div>
     </div>
    </div>
   </div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
